<div class="card grid grid-flow-row-dense sm:grid-cols-1 md:grid-cols-1 gap-4">
    <p-toast></p-toast>
    <div class="col-span-1 flex items-start justify-between flex-wrap gap-2">
        <div class="flex items-center gap-2">
            <i class="pi pi-wallet text-2xl"></i>
            <span class="text-xl font-semibold">Liquidaciones</span>
        </div>
    </div>

    <div class="md:col-span-1">
        <p-accordion [(value)]="panelOpenState">
            <p-accordion-panel value="0">
                <p-accordion-header>Filtro de Búsqueda</p-accordion-header>
                <p-accordion-content>
                    <div class="flex items-center gap-2 mb-4">
                        <i class="pi pi-search"></i>
                        <span class="font-medium">Búsqueda de Liquidaciones</span>
                    </div>
                    <form [formGroup]="formBusqueda" novalidate>
                        <div class="grid grid-flow-row-dense sm:grid-cols-1 md:grid-cols-12 gap-4">
                            <div class="md:col-span-4">
                                <label for="fechaRangoLiquidacion" class="block mb-1 text-sm">Rango de fechas</label>
                                <p-datepicker  style="width: 100%;" inputStyleClass="w-full" id="fechaRangoLiquidacion" formControlName="fechaRangoLiquidacion"
                                    dateFormat="dd/mm/yy" yearRange="1940:2030" selectionMode="range"
                                    [readonlyInput]="true" appendTo="body" styleClass="w-full">
                                </p-datepicker>
                            </div>
                            <div class="md:col-span-4">
                                <label for="numLote" class="block mb-1 text-sm">Nº lote</label>
                                <input id="numLote" type="text" pInputText class="w-full" formControlName="numLote"
                                    autocomplete="off">
                            </div>
                            <div class="md:col-span-4 flex items-end justify-end gap-2">
                                <button pButton label="Buscar" icon="pi pi-search" (click)="getLiquidaciones()"
                                    pTooltip="Buscar liquidaciones" tooltipPosition="top"></button>
                                <button pButton label="Limpiar" icon="pi pi-times" class="p-button-outlined"
                                    (click)="clearBusquedaFiltros()" pTooltip="Limpiar filtros"
                                    tooltipPosition="top"></button>
                            </div>
                        </div>
                    </form>
                </p-accordion-content>
            </p-accordion-panel>
        </p-accordion>
    </div>

    <div class="md:col-span-1">
        <div class="flex items-center justify-between flex-wrap gap-2 mb-2">
            <span class="text-lg font-semibold">Resumen</span>
            <button pButton label="Excel" icon="pi pi-file-excel" class="p-button-outlined p-button-success"
                [disabled]="datosLiquidaciones.length === 0" (click)="exportExcel()" pTooltip="Descargar excel"
                tooltipPosition="bottom"></button>
        </div>

        <p-table #dtResumen resizableColumns="true" rowExpandMode="single" [scrollable]="true"
            class="mi-tabla-personalizada"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" [paginator]="true"
            [showCurrentPageReport]="true" [filterDelay]="0" [scrollHeight]="heightTableResumen"
            dataKey="nroLoteLiquidado" [columns]="cols" [rows]="rows" [value]="datosLiquidaciones"
            [totalRecords]="datosLiquidaciones.length" [loading]="loadingDatosLiquidaciones"
            (onPage)="onPaginadoResumen($event)">
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col *ngFor="let col of columns" [ngStyle]="{width: col.width}">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" scope="col">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr id="tableWithIcon3" style="cursor: pointer;" (click)="getLiquidacionDetalle(rowData)"
                    (keydown.enter)="getLiquidacionDetalle(rowData)" (keydown)="getLiquidacionDetalle(rowData)">
                    <td class="text-center">
                        <p-button severity="secondary" (click)="onButtonClick($event, rowData, menusss)"
                            (keydown.enter)="onButtonClick($event, rowData, menusss)" icon="pi pi-ellipsis-v" />
                        <p-menu appendTo="body" #menusss [model]="menuItems" [popup]="true"></p-menu>
                    </td>
                    <td>{{rowData.fechaHoraLiquidacion | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                    <td>{{rowData.idCambioMonedaLiqDiariaRes}}</td>
                    <td>{{rowData.nroLoteLiquidado}}</td>
                    <td>{{rowData.fechaHoraEnvioPartner | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                    <td>{{rowData.fechaHoraRespuestaPartner | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                    <td>{{rowData.fechaHoraEnvioPagar | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                    <td>{{rowData.fechaHoraConfirmacionPago | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                    <td>{{rowData.descBanco}}</td>
                    <td>{{rowData.cuentaCorriente}}</td>
                    <td class="text-right">{{rowData.totalDolaresTcCompraOh | currency:"&nbsp;":"symbol":'1.2-2'}}</td>
                    <td class="text-right">{{rowData.totalDolaresTcVentaOh | currency:"&nbsp;":"symbol":'1.2-2'}}</td>
                    <td class="text-right">{{rowData.totalSolesTcVentaOh | currency:"&nbsp;":"symbol":'1.2-2'}}</td>
                    <td class="text-right">{{rowData.totalSolesTcCompraOh | currency:"&nbsp;":"symbol":'1.2-2'}}</td>
                    <td class="text-right">{{rowData.totalDolaresTcCompraPartner | currency:"&nbsp;":"symbol":'1.2-2'}}
                    </td>
                    <td class="text-right">{{rowData.totalDolaresTcVentaPartner | currency:"&nbsp;":"symbol":'1.2-2'}}
                    </td>
                    <td class="text-right">{{rowData.totalSolesTcVentaPartner | currency:"&nbsp;":"symbol":'1.2-2'}}
                    </td>
                    <td class="text-right">{{rowData.totalSolesTcCompraPartner | currency:"&nbsp;":"symbol":'1.2-2'}}
                    </td>
                    <td class="text-right">{{rowData.totalSpreadCompraOh | currency:"&nbsp;":"symbol":'1.2-2'}}</td>
                    <td class="text-right">{{rowData.totalSpreadVentaOh | currency:"&nbsp;":"symbol":'1.2-2'}}</td>
                    <td>{{rowData.descripcionMonedaRecibirPartner}}</td>
                    <td class="text-right">{{rowData.netoRecibirPartner | currency:"&nbsp;":"symbol":'1.2-2'}}</td>
                    <td>{{rowData.descripcionMonedaEnvioPartner}}</td>
                    <td class="text-right">{{rowData.netoEnviarPartner | currency:"&nbsp;":"symbol":'1.2-2'}}</td>
                    <td>{{rowData.descEstadoTipoCambio}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="25" style="text-align:left">Sin registros encontrados</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div class="md:col-span-1">
        <div class="flex items-center justify-between flex-wrap gap-2 mb-2">
            <div class="flex flex-col">
                <span class="text-lg font-semibold">Detalle</span>
                <small *ngIf="datoLiquidado">Lote: {{datoLiquidado?.nroLoteLiquidado}}</small>
            </div>
            <div class="flex items-center gap-2">
                <span class="text-sm font-medium" *ngIf="datoLiquidado">
                    Lote: {{datoLiquidado?.nroLoteLiquidado}}
                </span>
                <button pButton label="Excel" icon="pi pi-file-excel" class="p-button-outlined p-button-success"
                    [disabled]="datosLiquidacionDetalle.length === 0" (click)="exportExcelDetalle()"
                    pTooltip="Descargar detalle" tooltipPosition="bottom"></button>
            </div>
        </div>
        <p-table #dtDetalle resizableColumns="true" rowExpandMode="single" [scrollable]="true"
            class="mi-tabla-personalizada"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" [paginator]="true"
            [showCurrentPageReport]="true" [filterDelay]="0" [scrollHeight]="heightTableDetalle"
            dataKey="nroCambioMonedaOperacion" [columns]="colsDetalle" [rows]="rows" [value]="datosLiquidacionDetalle"
            [totalRecords]="datosLiquidacionDetalle.length" [loading]="loadingDatosLiquidacionDetalle"
            (onPage)="onPaginadoDetalle($event)">
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col *ngFor="let col of columns" [ngStyle]="{width: col.width}">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" scope="col">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr id="tableWithoutIcon">
                    <td class="text-center">
                         <p-button severity="secondary" (click)="onButtonDetalleClick($event, rowData, menuDetalle)"
                            (keydown.enter)="onButtonDetalleClick($event, rowData, menuDetalle)" icon="pi pi-ellipsis-v" />
                        <p-menu appendTo="body" #menuDetalle [model]="menuItemsDetalle" [popup]="true"></p-menu>                        
                    </td>
                    <td>{{rowData.nroCambioMonedaOperacion}}</td>
                    <td>{{rowData.idOperacionPartner}}</td>
                    <td>{{rowData.cuentaOrigen}}</td>
                    <td>{{rowData.descripcionMonedaOrigen}}</td>
                    <td class="text-right">{{rowData.importeOrigenPartner | currency:"&nbsp;":"symbol":'1.2-2'}}
                    </td>
                    <td class="text-right">{{rowData.importeOrigenOh | currency:"&nbsp;":"symbol":'1.2-2'}}</td>
                    <td>{{rowData.nroOperacionCuentaOrigen}}</td>
                    <td>{{rowData.cuentaDestino}}</td>
                    <td>{{rowData.descripcionMonedaDestino}}</td>
                    <td class="text-right">{{rowData.importeDestinoPartner | currency:"&nbsp;":"symbol":'1.2-2'}}
                    </td>
                    <td class="text-right">{{rowData.importeDestinoOh | currency:"&nbsp;":"symbol":'1.2-2'}}</td>
                    <td>{{rowData.nroOperacionCuentaDestino}}</td>
                    <td class="text-right">{{rowData.spreadCompraOh | currency:"&nbsp;":"symbol":'1.2-2'}}</td>
                    <td class="text-right">{{rowData.spreadVentaOh | currency:"&nbsp;":"symbol":'1.2-2'}}</td>
                    <td>{{rowData.descEstadoTipoCambio}}</td>
                    <td>{{rowData.tipoDocIdentidadDescripcion}}</td>
                    <td>{{rowData.numeroDocIdentidad}}</td>
                    <td>{{rowData.tipoOperacionOh}}</td>
                    <td>{{rowData.fechaHoraConfirmacionUsuario | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                    <td>{{rowData.fechaHoraEjecucionOperacion | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                    <td>{{rowData.fechaHoraLiquidacion | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                    <td class="text-right">{{rowData.tipoCambioOh | currency:"&nbsp;":"symbol":'1.4-4'}}</td>
                    <td class="text-right">{{rowData.tipoCambioPartner | currency:"&nbsp;":"symbol":'1.4-4'}}</td>
                    <td class="text-right">{{rowData.tipoCambioTransaccion | currency:"&nbsp;":"symbol":'1.4-4'}}
                    </td>
                    <td class="text-right">{{rowData.tipoCambioLiqPartner | currency:"&nbsp;":"symbol":'1.4-4'}}
                    </td>
                    <td>{{rowData.idConsultaPartner}}</td>
                    <td>{{rowData.nroLoteLiquidado}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="28" style="text-align:left">Sin registros encontrados</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>