<div class="grid grid-flow-row-dense sm:grid-cols-1 md:grid-cols-1 gap-4">
    <div class="md:col-span-1">
        <p-table #dt1 resizableColumns="true" rowExpandMode="single" 
            styleClass="p-datatable-striped p-datatable-gridlines mi-tabla-personalizada"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
            [paginator]="true" [showCurrentPageReport]="true" [filterDelay]="0"
            [value]="listCCE" [rows]="rows" [totalRecords]="listCCE.length">
            <ng-template pTemplate="header">
                <tr>
                    <th scope="col">Tipo Registro</th>
                    <th style="text-align: center;" scope="col">Número Anterior</th>
                    <th style="text-align: center;" scope="col">Número Actual</th>
                    <th scope="col">Fecha de Registro</th>
                    <th scope="col">Archivo Registro</th>
                    <th style="text-align: center;" scope="col">Usuario Registro</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr id="tableWithDetails">
                    <td>{{rowData.tipoRegistro}}</td>
                    <td>{{rowData.celularAnterior}}</td>
                    <td>{{rowData.celular}}</td>
                    <td>{{rowData.fechaCreacion | date:'dd/MM/yyyy'}}</td>
                    <td>
                        <a href="javascript:void(0)" pTooltip="Ver archivo" tooltipPosition="top"
                            *ngIf="rowData.documentoSustento"
                            (click)="openDialogVerArchivo(rowData.documentoSustento, rowData.nombDocumentoSustento)">{{rowData.nombDocumentoSustento}}
                            <em class="pi pi-download"></em>
                        </a>
                    </td>
                    <td style="text-align: center;">{{rowData.usuarioCreacion}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="6" style="text-align:left">Sin registros encontrados</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="md:col-span-1 flex items-end justify-end gap-2 footer-modal">
        <p-button label="Cerrar" severity="secondary" (click)="close()" (keydown.enter)="close()" />
    </div>
</div>
