<p-confirmdialog [style]="{ width: '450px' }" />
<div class="card grid grid-flow-row-dense sm:grid-cols-1 md:grid-cols-1 gap-4">
    <div class="col-span-1 flex items-start justify-start gap-2">
        <button pButton label="Agregar" icon="pi pi-plus" (click)="goToAddParametro()"></button>
    </div>
    <div class="md:col-span-1">
        <p-table #dt1 resizableColumns="true" columnResizeMode="expand" 
            class="mi-tabla-personalizada"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" [paginator]="true"
            [showCurrentPageReport]="true" [filterDelay]="0" dataKey="codParametro" [rows]="rows" [value]="data"
            [totalRecords]="data.length" [rowsPerPageOptions]="rowsPerPageOptions" [loading]="loading">
            <ng-template pTemplate="header">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Grupo parámetro</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Valor entero</th>
                    <th scope="col">Valor decimal</th>
                    <th scope="col">Valor texto corto</th>
                    <th scope="col">Valor texto largo</th>
                </tr>
                <tr id="tableWithIcon">
                    <th scope="col" style="text-align: center; min-width: 39px;">
                        <p-button severity="secondary" (click)="getParametros()" (keydown.enter)="getParametros()" (keydown)="getParametros()" icon="pi pi-refresh" />
                    </th>
                    <th scope="col">
                        <input pInputText type="text"
                            (input)="dt1.filter($event.target.value, 'nomTabla', 'startsWith')"
                            placeholder="Filtrar (comienza)">
                    </th>
                    <th scope="col">
                        <input pInputText type="text"
                            (input)="dt1.filter($event.target.value, 'desElemento', 'startsWith')"
                            placeholder="Filtrar (comienza)">
                    </th>
                    <th scope="col">
                        <input pInputText type="text"
                            (input)="dt1.filter($event.target.value, 'valNumEntero', 'startsWith')"
                            placeholder="Filtrar (comienza)">
                    </th>
                    <th scope="col">
                        <input pInputText type="text"
                            (input)="dt1.filter($event.target.value, 'valNumDecimal', 'startsWith')"
                            placeholder="Filtrar (comienza)">
                    </th>
                    <th scope="col">
                        <input pInputText type="text"
                            (input)="dt1.filter($event.target.value, 'valCadCorto', 'startsWith')"
                            placeholder="Filtrar (comienza)">
                    </th>
                    <th scope="col">
                        <input pInputText type="text"
                            (input)="dt1.filter($event.target.value, 'valCadLargo', 'startsWith')"
                            placeholder="Filtrar (comienza)">
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-expanded="expanded">
                <tr id="tableWithDetails">
                    <td style="text-align: center; width: 39px;">
                        <p-button severity="secondary" (click)="onButtonClick($event, rowData, menusss)"(keydown.enter)="onButtonClick($event, rowData, menusss)"
                            icon="pi pi-ellipsis-v" />
                        <p-menu appendTo="body" #menusss [model]="menuItems" [popup]="true"></p-menu>                       
                    </td>
                    <td>{{rowData.nomTabla}}</td>
                    <td style="max-width: 400px;" matTooltipPosition="above" matTooltip="rowData.desElemento" >
                        {{rowData.desElemento}}</td>
                    <td>{{rowData.valNumEntero}}</td>
                    <td>{{rowData.valNumDecimal}}</td>
                    <td>{{rowData.valCadCorto}}</td>
                    <td>{{rowData.valCadLargo}}</td>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="5" style="text-align:left">Sin registros encontrados</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>