
<br>
<div class="grid grid-flow-row-dense sm:grid-cols-1 md:grid-cols-1 gap-4">
    <div class="md:col-span-1">
        <p-table [value]="cuentaRelacionada" resizableColumns="true">
            <ng-template pTemplate="header">
                <tr>
                    <th pResizableColumn scope="col">Producto</th>
                    <th style="text-align: right;" pResizableColumn scope="col">Nro de cuenta</th>
                    <th style="text-align: center;" pResizableColumn scope="col">Estado</th>
                    <th style="text-align: center;" pResizableColumn scope="col">Fecha apertura</th>
                    <th style="text-align: center;" pResizableColumn scope="col">Fecha baja</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr (click)="goToAccount(rowData)" (keydown)="goToAccount(rowData)" style="cursor: pointer;" tabindex="0">
                    <td>{{rowData.producto}}</td>
                    <td style="text-align: right;">{{rowData.numCuenta}}</td>
                    <td style="text-align: center;">
                        <span [ngClass]="
                                    rowData.codEstadoCuenta == '01' ? 'p-tag p-tag-success' : 
                                    rowData.codEstadoCuenta == '02' ? 'p-tag p-tag-warning': 'p-tag p-tag-danger'"
                            style="font-size: 12px;">{{rowData.motivoBloqueo}}</span>
                    </td>
                    <td style="text-align: center;">{{rowData.fechaApertura | date:'dd/MM/yyyy'}}</td>
                    <td style="text-align: center;">{{rowData.fechaBaja | date:'dd/MM/yyyy'}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
      <div class="md:col-span-2 flex items-end justify-end gap-2 footer-modal">        
          <p-button label="Cancelar" (click)="close()" (keydown.enter)="close()" (keydown)="close()"/>
    </div>
</div>