<p-toast></p-toast>
<br>
<div class="grid grid-flow-row-dense sm:grid-cols-1 md:grid-cols-1 gap-4">
    <div class="md:col-span-1">
        <p-tabs lazy value="0">
            <p-tablist>
                <p-tab value="0">Información Basica</p-tab>
                <p-tab value="1">Contacto</p-tab>
                <p-tab value="2">Domicilio</p-tab>
            </p-tablist>
            <p-tabpanels>
                <p-tabpanel value="0">
                    <form *ngIf="formInfoBasicaProveedor" [formGroup]="formInfoBasicaProveedor">
                        <div class="grid grid-flow-row-dense sm:grid-cols-1 md:grid-cols-3 gap-4 mt-4">
                            <div class="md:col-span-1">
                                <label for="tipoProveedor" class="block mb-1 text-sm">Tipo proveedor</label>
                                <p-autoComplete id="tipoProveedor" class="w-full" name="tipoProveedor" formControlName="tipoProveedor"
                                    [suggestions]="filteredElement"
                                    (completeMethod)="filterElement($event, tipoProveedor)" optionLabel="descripcion"
                                    (ngModelChange)="changeModelTipoProveedor($event, 'proveedor')"
                                    emptyMessage='Sin resultados' [dropdown]="true" appendTo="body">
                                    <ng-template let-element>
                                        <div>{{element.descripcion}}</div>
                                    </ng-template>
                                </p-autoComplete>
                                <p-message severity="error" text="Debe seleccionar un proveedor válido" *ngIf="
                                    formInfoBasicaProveedor.get('tipoProveedor')?.dirty &&
                                    formInfoBasicaProveedor.get('tipoProveedor')?.invalid
                                    "></p-message>
                            </div>
                            <div class="md:col-span-1">

                                <label for="tipoDocumento" class="block mb-1 text-sm">Tipo documento</label>
                                <p-autoComplete id="tipoDocumento" class="w-full" name="tipoDocumento" formControlName="tipoDocumento"
                                    [suggestions]="filteredElement"
                                    (completeMethod)="filterElement($event, tipoDocumentoProveedor)"
                                    (ngModelChange)="changeModelTipoDocumento($event,'tipoDocumentoProveedor')"
                                    optionLabel="descripcion" emptyMessage='Sin resultados' [dropdown]="true"
                                    appendTo="body">
                                    <ng-template let-element>
                                        <div>{{element.descripcion}}</div>
                                    </ng-template>
                                </p-autoComplete>
                                <p-message severity="error" text="No es una opción" *ngIf="
                                    formInfoBasicaProveedor.get('tipoDocumento')?.dirty &&
                                    formInfoBasicaProveedor.get('tipoDocumento')?.invalid
                                    "></p-message>
                            </div>
                            <div class="md:col-span-1">
                                <label for="nroDocumento" class="block mb-1 text-sm">Número documento</label>
                                <input type="text" class="w-full" pInputText name="nroDocumento"
                                    formControlName="nroDocumento" autocomplete="off"
                                    [pKeyFilter]="nroCaracterProveedor === 12 ? 'alphanum' : 'pint'"
                                    [style]="{ 'text-transform': 'uppercase' }" [attr.minlength]="nroCaracterProveedor"
                                    [attr.maxlength]="nroCaracterProveedor" #valorDocumento />                             
                                <small class="text-right block mt-1 text-color-secondary"
                                    *ngIf="nroCaracterProveedor !== 0">
                                    {{ valorDocumento.value.length || 0 }} / {{ nroCaracterProveedor }}
                                </small>
                             
                                <p-message severity="error" text="Debe ingresar un número de documento válido" *ngIf="
                                    formInfoBasicaProveedor.get('nroDocumento')?.invalid &&
                                    (formInfoBasicaProveedor.get('nroDocumento')?.dirty ||
                                    formInfoBasicaProveedor.get('nroDocumento')?.touched)
                                ">
                                </p-message>
                            </div>
                            <div class="md:col-span-3">
                                <label for="idc" class="block mb-1 text-sm">IDC</label>
                                <input id="idc" type="text" class="w-full" autocomplete="off" pInputText name="idc"
                                    pKeyFilter="pint" formControlName="idc">
                            </div>

                            <div class="md:col-span-1">
                                <label for="primerNombre" class="block mb-1 text-sm">Primer Nombre(*)</label>
                                <input id="primerNombre" type="text" class="w-full" autocomplete="off" pInputText name="primerNombre"
                                    formControlName="primerNombre">
                                <p-message severity="error" text="Es requerido" *ngIf="
                                    formInfoBasicaProveedor.get('primerNombre')?.dirty &&
                                    formInfoBasicaProveedor.get('primerNombre')?.invalid
                                    ">
                                </p-message>

                            </div>
                            <div class="md:col-span-1">
                                <label for="segundoNombre" class="block mb-1 text-sm">Segundo Nombre</label>
                                <input id="segundoNombre" type="text" class="w-full" autocomplete="off" pInputText name="segundoNombre"
                                    formControlName="segundoNombre">
                                <p-message severity="error" text="Es requerido" *ngIf="
                                    formInfoBasicaProveedor.get('segundoNombre')?.dirty &&
                                    formInfoBasicaProveedor.get('segundoNombre')?.invalid
                                    ">
                                </p-message>
                            </div>
                            <div class="md:col-span-1">
                                <label for="primerApellido" class="block mb-1 text-sm">Primer apellido(*)</label>
                                <input id="primerApellido" type="text" class="w-full" autocomplete="off" pInputText name="primerApellido"
                                    formControlName="primerApellido">
                                <p-message severity="error" text="Es requerido" *ngIf="
                                    formInfoBasicaProveedor.get('primerApellido')?.dirty &&
                                    formInfoBasicaProveedor.get('primerApellido')?.invalid
                                    ">
                                </p-message>
                            </div>
                            <div class="md:col-span-1">
                                <label for="segundoApellido" class="block mb-1 text-sm">Segundo apellido(*)</label>
                                <input id="segundoApellido" type="text" class="w-full" autocomplete="off" pInputText name="segundoApellido"
                                    formControlName="segundoApellido">
                                <p-message severity="error" text="Es requerido" *ngIf="
                                    formInfoBasicaProveedor.get('segundoApellido')?.dirty &&
                                    formInfoBasicaProveedor.get('segundoApellido')?.invalid
                                    ">
                                </p-message>
                            </div>
                            <div class="md:col-span-1"></div>
                            <div class="md:col-span-1"></div>

                            <div class="md:col-span-1">
                                <label for="isPartner" class="block mb-1 text-sm">¿Registrara vinculación con otro
                                    proveedor?&nbsp;</label>
                                <p-toggleswitch id="isPartner" formControlName="isPartner" (onChange)="onChangeSwitch($event)" />
                                <p-message severity="error" text="Debe activar esta opción"
                                    *ngIf="formInfoBasicaProveedor.get('isPartner')?.dirty && formInfoBasicaProveedor.get('isPartner')?.hasError('requiredTrue')">
                                </p-message>
                            </div>
                            <div class="md:col-span-2">
                                <div *ngIf="formInfoBasicaProveedor.get('isPartner')?.value === true">
                                    <label for="proveedor" class="block mb-1 text-sm">Proveedores</label>
                                    <p-autoComplete class="w-full" name="proveedor" formControlName="proveedor"
                                        [suggestions]="filteredElement"
                                        (completeMethod)="filterElementProveedor($event, proveedores)"
                                        (ngModelChange)="changeModelProveedor($event, 'proveedor')"
                                        optionLabel="nombreGenerico" emptyMessage="Sin resultados" [dropdown]="true"
                                        appendTo="body">
                                        <ng-template let-element>
                                            <div>{{ element.nombreGenerico }}</div>
                                        </ng-template>
                                    </p-autoComplete>
                                    <p-message severity="error" text="Debe seleccionar un proveedor válido" *ngIf="
                                    formInfoBasicaProveedor.get('proveedor')?.dirty &&
                                    formInfoBasicaProveedor.get('proveedor')?.invalid
                                    "></p-message>
                                </div>
                            </div>
                        </div>
                    </form>

                </p-tabpanel>
                <p-tabpanel value="1">
                    <form *ngIf="formInfoContactoProveedor" [formGroup]="formInfoContactoProveedor">
                        <div class="grid grid-flow-row-dense sm:grid-cols-1 md:grid-cols-2 gap-4 mt-4">
                            <div class="md:col-span-1" *ngIf="nroCaracterProveedor==11">
                                <label for="nombre" class="block mb-1 text-sm">Nombres y apellidos</label>
                                <input type="text" id="nombre" class="w-full" pInputText autocomplete="off" name="nombre"
                                    formControlName="nombre" appendTo="body">
                                <p-message severity="error" text="formato inválido" *ngIf="
                                    formInfoContactoProveedor.get('nombre')?.dirty &&
                                    formInfoContactoProveedor.get('nombre')?.invalid
                                    "></p-message>
                            </div>
                            <div class="md:col-span-1">
                                <label for="correo" class="block mb-1 text-sm">Correo(*)</label>
                                <input id="correo" type="text" class="w-full" pInputText autocomplete="off" name="correo"
                                    formControlName="correo" appendTo="body">
                                <p-message severity="error" text="formato inválido" *ngIf="
                                    formInfoContactoProveedor.get('correo')?.dirty &&
                                    formInfoContactoProveedor.get('correo')?.invalid
                                    "></p-message>
                            </div>
                            <div class="md:col-span-1">
                                <label for="telefono" class="block mb-1 text-sm">Teléfono(*)</label>
                                <input id="telefono" type="text" class="w-full" pInputText autocomplete="off" pKeyFilter="pint"
                                    name="telefono" formControlName="telefono" appendTo="body">
                                <p-message severity="error" text="formato inválido" *ngIf="
                                    formInfoContactoProveedor.get('telefono')?.dirty &&
                                    formInfoContactoProveedor.get('telefono')?.invalid
                                    "></p-message>
                            </div>
                            <div class="md:col-span-1">
                                <label for="celular" class="block mb-1 text-sm">Celular(*)</label>
                                <input id="celular" type="text" class="w-full" pInputText autocomplete="off" pKeyFilter="pint"
                                    name="celular" formControlName="celular" appendTo="body" [attr.maxlength]="9">
                            </div>
                            <div class="md:col-span-1">
                                <label for="anexo" class="block mb-1 text-sm">Anexo</label>
                                <input id="anexo" type="text" class="w-full" pInputText autocomplete="off" name="anexo"
                                    pKeyFilter="pint" formControlName="anexo" />
                                <p-message
                                    *ngIf="formInfoContactoProveedor.get('anexo')?.dirty && formInfoContactoProveedor.get('anexo')?.invalid"
                                    severity="error" text="Es requerido">
                                </p-message>
                            </div>
                        </div>
                    </form>
                </p-tabpanel>
                <p-tabpanel value="2">
                    <form *ngIf="formDatosDireccion" [formGroup]="formDatosDireccion">
                        <div class="grid grid-flow-row-dense sm:grid-cols-1 md:grid-cols-3 gap-4 mt-4">
                            <div class="md:col-span-3">
                                <label for="direccion" class="block mb-1 text-sm">Dirección(*)</label>
                                <input id="direccion" type="text" class="w-full" pInputText autocomplete="off" name="direccion"
                                    formControlName="direccion">
                            </div>
                            <div class="md:col-span-1">
                                <label for="departamento" class="block mb-1 text-sm">Departamento</label>
                                <p-autoComplete id="departamento" class="w-full" name="departamento" formControlName="departamento"
                                    [suggestions]="filteredElement"
                                    (completeMethod)="filterElement($event, departamento)" optionLabel="descripcion"
                                    (onSelect)="changeModelDepartamento()" emptyMessage="Sin resultados"
                                    [dropdown]="true" appendTo="body">
                                    <ng-template let-element>
                                        <div>{{ element.descripcion }}</div>
                                    </ng-template>
                                </p-autoComplete>
                                <p-message
                                    *ngIf="formDatosDireccion.get('departamento')?.dirty && formDatosDireccion.get('departamento')?.invalid"
                                    severity="error" text="No es una opción">
                                </p-message>
                            </div>
                            <div class="md:col-span-1">
                                <label for="provincia" class="block mb-1 text-sm">Provincia</label>
                                <p-autoComplete id="provincia" class="w-full" name="provincia" formControlName="provincia"
                                    [suggestions]="filteredElement" (completeMethod)="filterElement($event, provincia)"
                                    optionLabel="descripcion" (onSelect)="changeModelProvincia()"
                                    emptyMessage="Sin resultados" [dropdown]="true" appendTo="body">
                                    <ng-template let-element>
                                        <div>{{ element.descripcion }}</div>
                                    </ng-template>
                                </p-autoComplete>                             
                                <p-message
                                    *ngIf="formDatosDireccion.get('provincia')?.dirty && formDatosDireccion.get('provincia')?.invalid"
                                    severity="error" text="No es una opción">
                                </p-message>
                            </div>
                            <div class="md:col-span-1">
                                <label for="distrito" class="w-full">Distrito</label>
                                <p-autoComplete id="distrito" class="w-full" name="distrito" formControlName="distrito"
                                    [suggestions]="filteredElement" (completeMethod)="filterElement($event, distrito)"
                                    optionLabel="descripcion" emptyMessage="Sin resultados" [dropdown]="true"
                                    appendTo="body">
                                    <ng-template let-element>
                                        <div>{{ element.descripcion }}</div>
                                    </ng-template>
                                </p-autoComplete>                         
                                <p-message
                                    *ngIf="formDatosDireccion.get('distrito')?.dirty && formDatosDireccion.get('distrito')?.invalid"
                                    severity="error" text="No es una opción">
                                </p-message>
                            </div>
                        </div>
                    </form>
                </p-tabpanel>
            </p-tabpanels>
        </p-tabs>
    </div>
    <div class="md:col-span-1 flex items-end justify-end  footer-modal">
        <p-button label="Actualizar" (click)="putProveedor()" (keydown.enter)="putProveedor()" (keydown)="putProveedor()" />
    </div>
</div>