<div class="card grid grid-flow-row-dense sm:grid-cols-1 md:grid-cols-1 gap-4">
    <p-toast></p-toast>
    <div class="col-span-1 flex items-start justify-between flex-wrap gap-2">
        <div class="flex items-center gap-2">
            <i class="pi pi-exchange text-2xl"></i>
            <span class="text-xl font-semibold">Transacciones</span>
        </div>
    </div>

    <div class="md:col-span-1">
        <p-accordion [(value)]="panelOpenState">
            <p-accordion-panel value="0">
                <p-accordion-header>Filtro de Búsqueda</p-accordion-header>
                <p-accordion-content>
                    <div class="flex items-center gap-2 mb-4">
                        <i class="pi pi-search"></i>
                        <span class="font-medium">Búsqueda de Transacciones</span>
                    </div>
                    <form [formGroup]="formBusqueda" novalidate>
                        <div class="grid grid-flow-row-dense sm:grid-cols-1 md:grid-cols-12 gap-4">
                            <div class="md:col-span-3">
                                <label for="fechaRangoTrx" class="block mb-1 text-sm">Rango de fechas</label>
                                <p-datepicker  style="width: 100%;" inputStyleClass="w-full" styleClass="w-full" inputId="fechaRangoTrx"
                                    formControlName="fechaRangoTrx" dateFormat="dd/mm/yy" yearRange="1940:2030"
                                    selectionMode="range" [readonlyInput]="true" appendTo="body">
                                </p-datepicker>

                            </div>
                            <div class="md:col-span-3">
                                <label for="numOperacion" class="block mb-1 text-sm">Nº operación</label>
                                <input id="numOperacion" type="text" pInputText formControlName="numOperacion"
                                    class="w-full" autocomplete="off">
                            </div>
                            <div class="md:col-span-3">
                                <label for="tipoDocumento" class="block mb-1 text-sm">Tipo de documento</label>
                                <p-autoComplete id="tipoDocumento" formControlName="tipoDocumento"
                                    [suggestions]="filteredElementTipoDocumentos" optionLabel="descripcion"
                                    emptyMessage="Sin resultados" [dropdown]="true"
                                    (completeMethod)="filterElementTipoDocumento($event, tipoDocumentos)"
                                    (ngModelChange)="changeModelTipoDocumento($event)" appendTo="body" class="w-full">
                                    <ng-template let-element>
                                        <div>{{element.descripcion}}</div>
                                    </ng-template>
                                </p-autoComplete>
                            </div>
                            <div class="md:col-span-3">
                                <label for="numDocumento" class="block mb-1 text-sm">Nro. de documento</label>
                                <input id="numDocumento" type="text" pInputText formControlName="numDocumento"
                                    class="w-full" autocomplete="off" (input)="onNumDocumentoInput($event)">
                                <div class="text-right text-xs mt-1" *ngIf="nroCaracter !== 0">
                                    {{formBusqueda.get('numDocumento')?.value?.length || 0}} / {{nroCaracter}}
                                </div>
                            </div>
                            <div class="md:col-span-3">
                                <label for="numCuentaOrigen" class="block mb-1 text-sm">Cuenta de origen</label>
                                <input id="numCuentaOrigen" type="text" pInputText formControlName="numCuentaOrigen"
                                    class="w-full" autocomplete="off">
                            </div>
                            <div class="md:col-span-3">
                                <label for="numCuentaDestino" class="block mb-1 text-sm">Cuenta destino</label>
                                <input id="numCuentaDestino" type="text" pInputText formControlName="numCuentaDestino"
                                    class="w-full" autocomplete="off">
                            </div>
                            <div class="md:col-span-3">
                                <label for="tipoOperacion" class="block mb-1 text-sm">Tipo de operación</label>
                                <p-autoComplete id="tipoOperacion" formControlName="tipoOperacion"
                                    [suggestions]="filteredElement"
                                    (completeMethod)="filterElement($event, tiposOperacion)" optionLabel="descripcion"
                                    emptyMessage="Sin resultados" [dropdown]="true" appendTo="body" styleClass="w-full">
                                    <ng-template let-element>
                                        <div>{{element.descripcion}}</div>
                                    </ng-template>
                                </p-autoComplete>
                            </div>
                            <div class="md:col-span-3">
                                <label for="numOperacionProveedor" class="block mb-1 text-sm">Nº operación
                                    proveedor</label>
                                <input id="numOperacionProveedor" type="text" pInputText
                                    formControlName="numOperacionProveedor" class="w-full" autocomplete="off">
                            </div>
                            <div class="md:col-span-3">
                                <label for="estadoTipoCambio" class="block mb-1 text-sm">Estado transacción</label>
                                <p-autoComplete id="estadoTipoCambio" formControlName="estadoTipoCambio"
                                    [suggestions]="filteredElement"
                                    (completeMethod)="filterElementEstadoTipoCambio($event, estadosTipoCambio)"
                                    optionLabel="descripcionCorta" emptyMessage="Sin resultados" [dropdown]="true"
                                    appendTo="body" styleClass="w-full">
                                    <ng-template let-element>
                                        <div>{{element.descripcionCorta}}</div>
                                    </ng-template>
                                </p-autoComplete>
                            </div>
                            <div class="md:col-span-12 flex items-end justify-end gap-2">
                                <button pButton label="Buscar" icon="pi pi-search" (click)="getTransactions()"
                                    pTooltip="Buscar transacciones" tooltipPosition="top"></button>
                                <button pButton label="Limpiar" icon="pi pi-times" class="p-button-outlined"
                                    (click)="clearBusquedaFiltros()" pTooltip="Limpiar filtros"
                                    tooltipPosition="top"></button>
                            </div>
                        </div>
                    </form>
                </p-accordion-content>
            </p-accordion-panel>
        </p-accordion>
    </div>

    <div class="md:col-span-1">
        <div class="flex items-center justify-between flex-wrap gap-2 mb-2">
            <span class="text-lg font-semibold">Transacciones</span>
            <button pButton label="Excel" icon="pi pi-file-excel" class="p-button-outlined p-button-success"
                [disabled]="datosTipoCambioTrx.length === 0" (click)="exportExcel()" pTooltip="Descargar excel"
                tooltipPosition="bottom"></button>
        </div>

        <p-table #dt resizableColumns="true" rowExpandMode="single" [scrollable]="true"
            class="mi-tabla-personalizada"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" [paginator]="true"
            [showCurrentPageReport]="true" [filterDelay]="0" dataKey="nroCambioMonedaOperacion" [columns]="cols"
            [rows]="rows" [value]="datosTipoCambioTrx" [totalRecords]="datosTipoCambioTrx.length"
            [loading]="loadingDatosTipoCambioTrx" [scrollHeight]="heightTableTrx"
            (onRowExpand)="getLogTransactions($event)" (onPage)="onPaginado($event)">
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col *ngFor="let col of columns" [ngStyle]="{width: col.width}">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" scope="col">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr id="tableWithIcon">
                    <td class="text-center align-top">
                        <div *appDisableContentByRole="[roles.TESORERIA]">
                            <ng-container *ngIf="rowData.tipoEstado == 1 &&
         (rowData.codigoEstado == '01' ||
          rowData.codigoEstado == '03' ||
          rowData.codigoEstado == '04' ||
          rowData.codigoEstado == '05' ||
          rowData.codigoEstado == '06')">
                                <p-button severity="secondary" (click)="onButtonClick($event, rowData, menusss)"
                                    (keydown.enter)="onButtonClick($event, rowData, menusss)" icon="pi pi-ellipsis-v"
                                    pTooltip="Acciones" />
                                <p-menu appendTo="body" #menusss [model]="menuItems" [popup]="true"></p-menu>
                            </ng-container>
                        </div>
                    </td>
                    <td class="text-center">
                        <button type="button" pButton pRipple class="p-button-text p-button-rounded"
                            [pRowToggler]="rowData"
                            [icon]="dt?.isRowExpanded(rowData) ? 'pi pi-chevron-down' : 'pi pi-chevron-right'">
                        </button>
                    </td>
                    <td>{{rowData.nroCambioMonedaOperacion}}</td>
                    <td>{{rowData.idOperacionPartner}}</td>
                    <td>{{rowData.cuentaOrigen}}</td>
                    <td>{{rowData.descMonedaOrigen}}</td>
                    <td class="text-right">{{rowData.importeOrigenPartner || "0" | currency:"&nbsp;":"symbol":'1.2-2'}}
                    </td>
                    <td class="text-right">{{rowData.importeOrigenOh || "0" | currency:"&nbsp;":"symbol":'1.2-2'}}</td>
                    <td>{{rowData.nroOperacionCuentaOrigen}}</td>
                    <td>{{rowData.cuentaDestino}}</td>
                    <td>{{rowData.descMonedaDestino}}</td>
                    <td class="text-right">{{rowData.importeDestinoPartner || "0" | currency:"&nbsp;":"symbol":'1.2-2'}}
                    </td>
                    <td class="text-right">{{rowData.importeDestinoOh || "0" | currency:"&nbsp;":"symbol":'1.2-2'}}</td>
                    <td>{{rowData.nroOperacionCuentaDestino}}</td>
                    <td class="text-right">{{rowData.spreadCompraOh || "0" | currency:"&nbsp;":"symbol":'1.2-2'}}</td>
                    <td class="text-right">{{rowData.spreadVentaOh || "0" | currency:"&nbsp;":"symbol":'1.2-2'}}</td>
                    <td>{{rowData.descEstadoTipoCambio}}</td>
                    <td>{{rowData.descTipoDocumentoIdentidad}}</td>
                    <td>{{rowData.numeroDocIdentidad}}</td>
                    <td>{{rowData.tipoOperacionOh}}</td>
                    <td>{{rowData.fechaHoraConfirmacionUsuario | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                    <td>{{rowData.fechaHoraEjecucionOperacion | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                    <td>{{rowData.fechaHoraLiquidacion | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                    <td class="text-right">{{rowData.tipoCambioOh || "0" | currency:"&nbsp;":"symbol":'1.4-4'}}</td>
                    <td class="text-right">{{rowData.tipoCambioPartner || "0" | currency:"&nbsp;":"symbol":'1.4-4'}}
                    </td>
                    <td class="text-right">{{rowData.tipoCambioTransaccion || "0" | currency:"&nbsp;":"symbol":'1.4-4'}}
                    </td>
                    <td class="text-right">{{rowData.tipoCambioObservadoPartner || "0" |
                        currency:"&nbsp;":"symbol":'1.4-4'}}
                    </td>
                    <td>{{rowData.idConsultaPartner}}</td>
                    <td>{{rowData.nroLoteLiquidado}}</td>
                    <td>{{rowData.descCanal}}</td>
                </tr>
            </ng-template>
            <ng-template #expandedrow let-rowData>
                <tr>
                    <td [attr.colspan]="cols.length" class="bg-surface-50 p-4">
                        <h5>LOG</h5>
                        <p-table [paginator]="false" [value]="datosTrxLogs" [totalRecords]="datosTrxLogs.length"
                            [columns]="colsLog" [loading]="loadingDatosTrxLogs">
                            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" scope="col">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-log>
                <tr id="tableWithoutIcon">
                    <td>{{log.descTipoDocumentoIdentidad}}</td>
                    <td>{{log.numeroDocIdentidad}}</td>
                    <td>{{log.nroCambioMonedaOperacion}}</td>
                    <td>{{log.idCambioMonedaOperacion}}</td>
                    <td>{{log.descripcionLarga}}</td>
                    <td>{{log.nroOperacionCuentaOrigen}}</td>
                    <td>{{log.nroOperacionCuentaDestino}}</td>
                    <td>{{log.usuarioRegistro}}</td>
                    <td>{{log.fechaRegistro | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="9" style="text-align:left">Sin registros encontrados</td>
                </tr>
            </ng-template>
        </p-table>

        </td>
        </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="30" style="text-align:left">Sin registros encontrados</td>
            </tr>
        </ng-template>
        </p-table>
    </div>
</div>