<p-toast></p-toast>
<br>
<div class="grid grid-flow-row-dense sm:grid-cols-1 md:grid-cols-2 gap-4">
    <div class="md:col-span-1">
        Tipo documento: <strong>{{datosCliente.desCodTipoDoc}}</strong>
    </div>
    <div class="md:col-span-1">
        Número documento: <strong>{{datosCliente.numDocIdentidad}}</strong>
    </div>
    <div class="md:col-span-1">
        Nombre del cliente: <strong>{{datosCliente?.nombresApellidos}}</strong>
    </div>
    <div class="md:col-span-1">
        Bloqueo actual: <strong>{{datosCuenta?.motivoBloqueo}}</strong>
    </div>
    <div class="md:col-span-2">
        <form [formGroup]="formBloqueo" novalidate>
            <div class="grid grid-flow-row-dense sm:grid-cols-1 md:grid-cols-1 gap-4">
                <div class="md:col-span-1" *ngIf="tipo != 'desbloqueo'">
                    <label for="tipoBloqueo" class="block mb-1 text-sm">Tipo bloqueo</label>
                    <p-autoComplete id="tipoBloqueo" class="w-full" name="tipoBloqueo" formControlName="tipoBloqueo"
                        [suggestions]="filteredElementMotivo"
                        (completeMethod)="filterElementMotivo($event, opcionesMotivoBloqueoCuenta)"
                        (onSelect)="onElementSelect($event)" optionLabel="descripcion" emptyMessage='Sin resultados'
                        [dropdown]="true" appendTo="body">
                        <ng-template let-element>
                            <div>{{element.descripcion}}</div>
                        </ng-template>
                    </p-autoComplete>               
                    <p-message *ngIf="formBloqueo.get('tipoBloqueo')?.invalid && formBloqueo.get('tipoBloqueo')?.dirty"
                        severity="error" variant="simple" size="small">
                        No es una opción
                    </p-message>
                </div>
                <div class="md:col-span-1" *ngIf="tipo != 'desbloqueo' && opcionesEstadoBloqueoCuenta.length > 0">
                    <label for="estadoBloqueo" class="block mb-1 text-sm">Estado</label>
                    <p-autoComplete id="estadoBloqueo" class="w-full" name="estadoBloqueo" formControlName="estadoBloqueo"
                        [suggestions]="filteredElementEstado"
                        (completeMethod)="filterElementEstado($event, opcionesEstadoBloqueoCuenta)"
                        optionLabel="descripcion" emptyMessage='Sin resultados' [dropdown]="true" appendTo="body"
                        [disabled]="opcionesEstadoBloqueoCuenta.length == 1">
                        <ng-template let-element>
                            <div>{{element.descripcion}}</div>
                        </ng-template>
                    </p-autoComplete>
                    <p-message
                        *ngIf="formBloqueo.get('estadoBloqueo')?.invalid && formBloqueo.get('estadoBloqueo')?.dirty"
                        severity="error" variant="simple" size="small">
                        No es una opción
                    </p-message>
                </div>
                <div class="md:col-span-1">
                    <label for="descripcion" class="block mb-1 text-sm">Descripción</label>
                    <div class="p-fluid">
                        <input id="descripcion" class="w-full" #valorDescripcion pInputText type="text" [attr.maxlength]="255"
                            autocomplete="off" formControlName="descripcion"
                            [ngClass]="{'ng-invalid': formBloqueo.get('descripcion')?.invalid && formBloqueo.get('descripcion')?.dirty}" />
                        <div class="flex justify-end text-sm text-gray-500 mt-1">
                            {{ valorDescripcion.value.length || 0 }} / 255
                        </div>
                        <p-message
                            *ngIf="formBloqueo.get('descripcion')?.invalid && formBloqueo.get('descripcion')?.dirty"
                            severity="error" variant="simple" size="small">
                            Máximo 255 caracteres
                        </p-message>
                    </div>
                </div>
                <div class="md:col-span-1">
                    <label for="nombreArchivo" class="block mb-1 text-sm">Nombre archivo sustento (pdf, jpeg, png, xlsx)</label>
                    <div class="p-fluid">
                        <input id="nombreArchivo" class="w-full" #valorDescripcion pInputText type="text" readonly
                            formControlName="nombreArchivo" autocomplete="off"
                            [ngClass]="{'ng-invalid': formBloqueo.get('nombreArchivo')?.invalid && formBloqueo.get('nombreArchivo')?.dirty}" />
                        <p-message
                            *ngIf="formBloqueo.get('nombreArchivo')?.invalid && formBloqueo.get('nombreArchivo')?.dirty"
                            severity="error" variant="simple" size="small">
                            Es requerido
                        </p-message>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="md:col-span-2">
        <p-fileUpload name="files" [auto]="true" customUpload="true" accept=".pdf,.jpeg,.png,.xlsx"
            maxFileSize="3700000" invalidFileTypeMessageSummary="{0}: archivo inválido, "
            invalidFileTypeMessageDetail="extensiones permitidas: {0}." (uploadHandler)="uploader($event)"
            (onClear)="removeAll()" (onRemove)="removeElement($event)" uploadLabel="Cargar" cancelLabel="Cancelar"
            chooseLabel="Seleccionar archivo sustento">
        </p-fileUpload>
    </div>
    <div class="md:col-span-2" *ngIf="tipo != 'desbloqueo'">
        <div *ngFor="let estado of estadosBloqueoCuenta; let i = index">
            <p style="margin-top: 10px; float: left; width: 100%;">
                <strong>{{i + 1}}. {{estado.descripcion | uppercase}}</strong>
            </p>
            <ul class="row-list" *ngFor="let motivo of estado.motivosBloqueoCuenta">
                <li class="column-description">{{motivo.descripcion}} ({{motivo.codigoExterno}})</li>
            </ul>
        </div>
    </div>
    <div class="md:col-span-2 flex items-end justify-end gap-2 footer-modal">
        <p-button label="Aceptar" [disabled]="formBloqueo.invalid || loadingFile || disableButton"
            (click)="registrarBloqueo()" (keydown.enter)="registrarBloqueo()"/>
    </div>
</div>
