<p-toast></p-toast>
<br>

<div class="grid grid-flow-row-dense sm:grid-cols-1 md:grid-cols-1 gap-4">
    <div class="md:col-span-1">
        <p-table #dt1  class="mi-tabla-personalizada"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" [paginator]="true"
            [showCurrentPageReport]="true" dataKey="idCambioMonedaCamLog" [rows]="rows" [value]="datosLogs"
            [totalRecords]="datosLogs.length" [rowsPerPageOptions]="rowsPerPageOptions" [loading]="loadingLogs">
            <ng-template pTemplate="header">
                <tr>
                    <th scope="col">Tipo</th>
                    <th scope="col">Código</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Tipo Validación</th>
                    <th scope="col">Monto Validación</th>
                    <th scope="col">Tipo Campaña</th>
                    <th scope="col">Tipo Cambio Compra Oh</th>
                    <th scope="col">Tipo Cambio Venta Oh</th>
                    <th scope="col">Tasa Compra Oh</th>
                    <th scope="col">Tasa Venta Oh</th>
                    <th scope="col">Fecha Inicio</th>
                    <th scope="col">Fecha Fin</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Fecha Aprobación</th>
                    <th scope="col">Usuario Aprobación</th>
                    <th scope="col">Fecha Vencimiento</th>
                    <th scope="col">Usuario Vencimiento</th>
                    <th scope="col">Fecha Registro</th>
                    <th scope="col">Usuario Registro</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-expanded="expanded">
                <tr id="tableWithIcon">
                    <td>{{rowData.tipoLogDesc}}</td>
                    <td>{{rowData.codigoCampana}}</td>
                    <td>{{rowData.descripcion}}</td>
                    <td>{{rowData.tipoValidacionDesc}}</td>
                    <td>{{rowData.montoValidacionFormat}}</td>
                    <td>{{rowData.tipoCampanaDesc}}</td>
                    <td>{{rowData.tipoCambioCompraOhFormat}}</td>
                    <td>{{rowData.tipoCambioVentaOhFormat}}</td>
                    <td>{{rowData.tasaCompraOhFormat}}</td>
                    <td>{{rowData.tasaVentaOhFormat}}</td>
                    <td>{{rowData.fechaInicioFormat}}</td>
                    <td>{{rowData.fechaFinFormat}}</td>
                    <td>{{rowData.estadoDesc}}</td>
                    <td>{{rowData.fechaHoraAprobacionFormat}}</td>
                    <td>{{rowData.usuarioAprobacion}}</td>
                    <td>{{rowData.fechaHoraVencimientoFormat}}</td>
                    <td>{{rowData.usuarioVencimiento}}</td>
                    <td>{{rowData.fechaRegistroFormat}}</td>
                    <td>{{rowData.usuarioRegistro}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="19" style="text-align:left">Sin registros encontrados</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="md:col-span-1 flex items-end justify-end  footer-modal">        
        <p-button label="Cerrar" (click)="close()" (keydown.enter)="close()" (keydown)="close()" />
    </div>
</div>