<div class="card grid grid-flow-row-dense sm:grid-cols-1 md:grid-cols-1 gap-4">
    <div class="col-span-1 flex items-start justify-between flex-wrap gap-2">
        <div class="flex items-center gap-2">
            <i class="pi pi-list text-2xl"></i>
            <span class="text-xl font-semibold">Reporte Solicitudes de Ahorros Oh</span>
        </div>
    </div>

    <div class="md:col-span-1">
        <p-accordion [(value)]="panelOpenState">
            <p-accordion-panel [value]="0">
                <p-accordion-header>
                    <div class="flex items-center gap-2">
                        <i class="pi pi-search"></i>
                        <span>Busqueda</span>
                    </div>
                </p-accordion-header>
                <p-accordion-content>
                    <form [formGroup]="searchForm" novalidate>
                        <div class="grid grid-flow-row-dense sm:grid-cols-1 md:grid-cols-12 gap-4">
                            <div class="md:col-span-4">
                                <label class="block mb-1 text-sm" for="rangoFechas">Rango de Fechas</label>
                                <p-datepicker  style="width: 100%;" inputStyleClass="w-full" formControlName="rangoFechas" inputId="rangoFechas" [showIcon]="true"
                                    dateFormat="dd/mm/yy" yearRange="1940:2030" selectionMode="range"
                                    [readonlyInput]="true" appendTo="body" showButtonBar="true"></p-datepicker>
                            </div>
                            <div class="md:col-span-4">
                                <label class="block mb-1 text-sm" for="tipoDocumentos">Tipo de documento</label>
                                <p-autoComplete name="tipoDocumentos" formControlName="tipoDocumentos"
                                    inputId="tipoDocumentos" [suggestions]="filteredElementTipoDocumento"
                                    optionLabel="descripcion" emptyMessage="Sin resultados" [dropdown]="true"
                                    (completeMethod)="filterElementTipoDocumento($event, tipoDocumentos)"
                                    (ngModelChange)="changeModelTipoDocumento($event)" appendTo="body">
                                    <ng-template let-element>
                                        <div>{{element.descripcion}}</div>
                                    </ng-template>
                                </p-autoComplete>
                            </div>
                            <div class="md:col-span-3">
                                <label class="block mb-1 text-sm" for="numDocumento">Nro. de documento</label>
                                <input type="text" pInputText #valorDocumento name="numDocumento" id="numDocumento"
                                    formControlName="numDocumento" autocomplete="off" [attr.maxlength]="nroCaracter">
                                <small class="block text-right text-xs mt-1" *ngIf="nroCaracter !== 0">
                                    {{valorDocumento.value.length || 0}} / {{nroCaracter}}
                                </small>
                            </div>
                            <div class="md:col-span-12 flex items-end justify-end gap-2">
                                <button pButton label="" icon="pi pi-search" styleClass="p-button-sm"
                                    (click)="getSolicitudes()" pTooltip="Buscar Consultas"
                                    tooltipPosition="top"></button>
                                <button pButton label="" icon="pi pi-trash" styleClass="p-button-sm p-button-outlined"
                                    (click)="clearBusquedaFiltros()" pTooltip="Limpiar filtros"
                                    tooltipPosition="top"></button>
                            </div>
                        </div>
                    </form>
                </p-accordion-content>
            </p-accordion-panel>
        </p-accordion>
    </div>

    <div class="md:col-span-1">
        <div class="flex items-center justify-between flex-wrap gap-2 mb-4">
            <div class="text-lg font-semibold">Reporte Solicitudes de Ahorros Oh</div>
            <p-button label="Excel" icon="pi pi-file-excel" styleClass="p-button-success p-button-sm"
                [disabled]="dataSolicitudes.length === 0" (click)="exportExcel()" (keydown.enter)="exportExcel()"
                (keydown)="exportExcel()" pTooltip="Descargar excel" tooltipPosition="left"></p-button>
        </div>

        <p-table #dt1 class="mi-tabla-personalizada" resizableColumns="true" columnResizeMode="expand"
            [value]="dataSolicitudes" liveResize="true" class="mi-tabla-personalizada" [showCurrentPageReport]="true"
            [columns]="cols" dataKey="nroSolicitud"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" [paginator]="true"
            [rows]="rows" [totalRecords]="dataSolicitudes.length" [filterDelay]="0">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th scope="col" *ngFor="let col of columns">{{col.header}}</th>
                </tr>
                <tr id="tableWithIcon">
                    <th scope="col" *ngFor="let col of columns">
                        <ng-container *ngIf="col.nomProperty; else actionColumn">
                            <input class="w-full" pInputText type="text"
                                (input)="dt1.filter($event.target.value, col.nomProperty, 'startsWith')"
                                placeholder="Filtrar (comienza)">
                        </ng-container>
                        <ng-template #actionColumn>
                            <p-button icon="pi pi-refresh" severity="secondary" pTooltip="Refrescar" showDelay="1000"
                                hideDelay="300" (click)="getSolicitudes()" (keydown.enter)="getSolicitudes()"
                                (keydown)="getSolicitudes()" rounded raised></p-button>
                        </ng-template>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr id="tableWithIcon2">
                    <td style="text-align: center; width: 39px;">
                        <p-button severity="secondary" (click)="onRowMenuClick($event, rowData, menu)"
                            (keydown.enter)="onRowMenuClick($event, rowData, menu)"
                            (keydown)="onRowMenuClick($event, rowData, menu)" icon="pi pi-ellipsis-v"
                            pTooltip="Opciones" tooltipPosition="top"></p-button>
                        <p-menu appendTo="body" #menu [model]="menuItems" [popup]="true"></p-menu>
                    </td>
                    <td>{{rowData.nroSolicitud}}</td>
                    <td>{{rowData.fechaHoraRegistroConvert}}</td>
                    <td>{{rowData.tipoDoc}}</td>
                    <td>{{rowData.numeroDoc}}</td>
                    <td>{{rowData.primerNombre}}</td>
                    <td>{{rowData.segundoNombre}}</td>
                    <td>{{rowData.apellidoPaterno}}</td>
                    <td>{{rowData.apellidoMaterno}}</td>
                    <td>{{rowData.celular}}</td>
                    <td>{{rowData.email}}</td>
                    <td>
                        <span [class]="rowData.color" style="font-size: 12px;">
                            {{rowData.descEstadoSolicitud}}
                        </span>
                    </td>
                    <td>{{rowData.usuarioCreacion}}</td>
                    <td>{{rowData.fechaCreacionConvert }}</td>
                    <td>{{rowData.usuarioModificacion}}</td>
                    <td>{{rowData.fechaModificacionConvert }}</td>
                    <td>{{rowData?.descCanal}}</td>
                    <td>{{rowData.descTipoProducto}}</td>
                    <td>{{rowData.codCallCenter}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="18" style="text-align:left">Sin registros encontrados</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>