<p-toast></p-toast>
<br>
<form [formGroup]="formRetencion" novalidate>
    <div class="grid grid-flow-row-dense sm:grid-cols-1 md:grid-cols-2 gap-4">
        <div class="md:col-span-1">
            <label for="tipoBloqueo" class="block mb-1 text-sm">Tipo bloqueo</label>

            <label for="importe" class="block mb-1 text-sm">Importe</label>
            <p-inputNumber class="w-full" name="importe" formControlName="importe" locale="en-US" minFractionDigits="2"
                maxFractionDigits="2" (onInput)="changeModelImporte($event)" [inputStyle]="{'text-align': 'right'}"
                autocomplete="off" appendTo="body" [disabled]="true">
            </p-inputNumber>
            <p-message *ngIf="formRetencion.get('importe')?.dirty && formRetencion.get('importe')?.invalid"
                severity="error" variant="simple" size="small">
                <span *ngIf="formRetencion.get('importe')?.errors?.['required']">
                    Es requerido
                </span>
                <span *ngIf="formRetencion.get('importe')?.errors?.['maxValue']">
                    No puede ser mayor al importe retenido: {{retencion.importeRetenido | currency:"&nbsp;":"symbol":'1.2-2'}}
                </span>
            </p-message>
        </div>
        <div class="md:col-span-2">
            <label for="nombreArchivo" class="block mb-1 text-sm">Nombre archivo sustento (pdf, jpeg, png, xlsx)</label>
            <input class="w-full" type="text" autocomplete="off" pInputText name="nombreArchivo"
                formControlName="nombreArchivo" readonly>
            <p-message *ngIf="formRetencion.get('nombreArchivo')?.dirty && !formRetencion.get('nombreArchivo')?.valid"
                severity="error" variant="simple" size="small">
                Es requerido
            </p-message>
        </div>
        <div class="md:col-span-2">
            <p-fileUpload name="files" [auto]="true" customUpload="true" accept=".pdf,.jpeg,.png,.xlsx"
                maxFileSize="3700000" invalidFileTypeMessageSummary="{0}: archivo inválido, "
                invalidFileTypeMessageDetail="extensiones permitidas: {0}." (uploadHandler)="uploader($event)"
                (onClear)="removeAll()" (onRemove)="removeElement($event)" uploadLabel="Cargar" cancelLabel="Cancelar"
                chooseLabel="Seleccionar archivo"></p-fileUpload>
        </div>
        <div class="md:col-span-2 flex items-end justify-end gap-2 footer-modal">
            <p-button label="Aceptar" [disabled]="formRetencion.invalid || loadingFile || disableButton"
                (click)="registrarReversaRetencion()" (keydown.enter)="registrarReversaRetencion()" />
        </div>
    </div>
</form>
