<div class="card grid grid-flow-row-dense sm:grid-cols-1 md:grid-cols-1 gap-4">
    <p-toast></p-toast>
    <div class="col-span-1 flex items-start justify-between flex-wrap gap-2">
        <div class="flex items-center gap-2">
            <i class="pi pi-sync text-2xl"></i>
            <span class="text-xl font-semibold">Consultas Tipo de Cambio</span>
        </div>
    </div>

    <div class="md:col-span-1">
        <p-accordion value="0">
            <p-accordion-panel value="0">
                <p-accordion-header>Filtro de Búsqueda</p-accordion-header>
                <p-accordion-content>
                    <div class="flex items-center gap-2 mb-4">
                        <i class="pi pi-search"></i>
                        <span class="font-medium">Búsqueda de Consultas</span>
                    </div>
                    <form [formGroup]="formBusqueda" novalidate>
                        <div class="grid grid-flow-row-dense sm:grid-cols-1 md:grid-cols-12 gap-4">
                            <div class="md:col-span-3">
                                <label for="fechaRangoTrx" class="block mb-1 text-sm">Rango de fechas</label>
                                <p-datepicker  style="width: 100%;" inputStyleClass="w-full" id="fechaRangoTrx" formControlName="fechaRangoTrx" dateFormat="dd/mm/yy"
                                     yearRange="1940:2030"
                                    selectionMode="range" [readonlyInput]="true" appendTo="body" styleClass="w-full">
                                </p-datepicker>
                            </div>
                            <div class="md:col-span-2">
                                <label for="idConsultaPartner" class="block mb-1 text-sm">ID consulta proveedor</label>
                                <input id="idConsultaPartner" type="text" pInputText class="w-full" formControlName="idConsultaPartner"
                                    autocomplete="off">
                            </div>
                            <div class="md:col-span-3">
                                <label for="tipoDocumento" class="block mb-1 text-sm">Tipo de documento</label>
                                <p-autoComplete id="tipoDocumento" formControlName="tipoDocumento" [suggestions]="filteredElementTipoDocumento"
                                    optionLabel="descripcion" emptyMessage="Sin resultados" [dropdown]="true"
                                    (completeMethod)="filterElementTipoDocumento($event, tipoDocumentos)"
                                    (ngModelChange)="changeModelTipoDocumento($event)" appendTo="body"
                                    styleClass="w-full">
                                    <ng-template let-element>
                                        <div>{{element.descripcion}}</div>
                                    </ng-template>
                                </p-autoComplete>
                            </div>
                            <div class="md:col-span-2">
                                <label for="numDocumento" class="block mb-1 text-sm">Nro. de documento</label>
                                <input id="numDocumento" type="text" pInputText class="w-full" formControlName="numDocumento"
                                    autocomplete="off">
                                <div class="text-right text-xs mt-1" *ngIf="nroCaracter !== 0">
                                    {{formBusqueda.get('numDocumento')?.value?.length || 0}} / {{nroCaracter}}
                                </div>
                            </div>
                            <div class="md:col-span-2">
                                <label for="nroCambioMonedaOperacion" class="block mb-1 text-sm">Nº operación</label>
                                <input id="nroCambioMonedaOperacion" type="text" pInputText class="w-full"
                                    formControlName="nroCambioMonedaOperacion" autocomplete="off">
                            </div>
                            <div class="md:col-span-12 flex items-end justify-end gap-2">
                                <button pButton label="Buscar" icon="pi pi-search" (click)="getConsultas()"
                                    pTooltip="Buscar consultas" tooltipPosition="top"></button>
                                <button pButton label="Limpiar" icon="pi pi-times" class="p-button-outlined"
                                    (click)="clearBusquedaFiltros()" pTooltip="Limpiar filtros"
                                    tooltipPosition="top"></button>
                            </div>
                        </div>
                    </form>
                </p-accordion-content>
            </p-accordion-panel>
        </p-accordion>
    </div>

    <div class="md:col-span-1">
        <div class="flex items-center justify-between flex-wrap gap-2 mb-2">
            <span class="text-lg font-semibold">Consultas</span>
            <button pButton label="Excel" icon="pi pi-file-excel"
                class="p-button-outlined p-button-success" [disabled]="datosListadoConsultas.length === 0"
                (click)="exportExcel()" pTooltip="Descargar excel" tooltipPosition="bottom"></button>
        </div>

        <p-table #dt resizableColumns="true" rowExpandMode="single"  [scrollable]="true"
            class="mi-tabla-personalizada"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" [paginator]="true"
            [showCurrentPageReport]="true" [filterDelay]="0" dataKey="numOperacionCambio" [columns]="cols" [rows]="rows"
            [value]="datosListadoConsultas" [totalRecords]="datosListadoConsultas.length"
            [loading]="loadingDatosConsultas" [scrollHeight]="heightTableConsulta" (onPage)="onPaginado($event)">
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col *ngFor="let col of columns" [ngStyle]="{width: col.width}">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" pReorderableColumn pResizableColumn scope="col">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr id="tableWithIcon">
                    <td>{{rowData.tipoDocIdentidadDescripcion}}</td>
                    <td>{{rowData.numeroDocIdentidad}}</td>
                    <td>{{rowData.idConsultaPartner}}</td>
                    <td>{{rowData.nroCambioMonedaOperacion}}</td>
                    <td>{{rowData.idOperacionPartner}}</td>
                    <td>{{rowData.fechaHoraConsultaUsuario | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                    <td>{{rowData.fechaHoraConsultaPartner | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                    <td>{{rowData.fechaHoraConfirmacionUsuario | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                    <td class="text-right">{{rowData.importeDestinoPartner || "0" | currency:"&nbsp;":"symbol":'1.2-2'}}
                    </td>
                    <td class="text-right">{{rowData.importeDestinoOh || "0" | currency:"&nbsp;":"symbol":'1.2-2'}}</td>
                    <td class="text-right">{{rowData.importeOrigenPartner || "0" | currency:"&nbsp;":"symbol":'1.2-2'}}
                    </td>
                    <td class="text-right">{{rowData.importeOrigenOh || "0" | currency:"&nbsp;":"symbol":'1.2-2'}}</td>
                    <td class="text-right">{{rowData.tipoCambioCompraOh || "0" | currency:"&nbsp;":"symbol":'1.4-4'}}
                    </td>
                    <td class="text-right">{{rowData.tipoCambioVentaOh || "0" | currency:"&nbsp;":"symbol":'1.4-4'}}
                    </td>
                    <td class="text-right">{{rowData.tipoCambioCompraPartner || "0" | currency:"&nbsp;":"symbol":'1.4-4'}}
                    </td>
                    <td class="text-right">{{rowData.tipoCambioVentaPartner || "0" | currency:"&nbsp;":"symbol":'1.4-4'}}
                    </td>
                    <td>{{rowData.descCanal}}</td>
                    <td>{{rowData.descripcion}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="18" style="text-align:left">Sin registros encontrados</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
