<div class="card grid grid-flow-row-dense sm:grid-cols-1 md:grid-cols-1 gap-4">
    <div class="col-span-1 flex items-start justify-between flex-wrap gap-2">
        <div class="flex items-center gap-2">
            <i class="pi pi-check-square text-2xl"></i>
            <span class="text-xl font-semibold">Consulta de Autorizaciones</span>
        </div>
    </div>

    <div class="md:col-span-1">

        <p-accordion value="0">
            <p-accordion-panel value="0">
                <p-accordion-header>Filtro de Búsqueda</p-accordion-header>
                <p-accordion-content>
                    <ng-template pTemplate="header">
                        <div class="flex items-center gap-2">
                            <i class="pi pi-search"></i>
                            <span>Busqueda de Autorizaciones</span>
                        </div>
                    </ng-template>
                    <form [formGroup]="formBusqueda" novalidate>
                        <div class="grid grid-flow-row-dense sm:grid-cols-1 md:grid-cols-12 gap-4">
                            <div [ngClass]="showSearchCard ? 'md:col-span-3' : 'md:col-span-5'">
                                <label for="tipoDocumento" class="block mb-1 text-sm">Tipo de Documento</label>
                                <p-autoComplete id="tipoDocumento" name="tipoDocumento" formControlName="tipoDocumento"
                                    [suggestions]="filteredElementTipoDocumento" optionLabel="descripcion"
                                    emptyMessage="Sin resultados" [dropdown]="true" styleClass="w-full"
                                    (completeMethod)="filterElementTipoDocumento($event, tipoDocumento)"
                                    (ngModelChange)="changeModelTipoDocumento($event)" appendTo="body">
                                    <ng-template let-element>
                                        <div>{{element.descripcion}}</div>
                                    </ng-template>
                                </p-autoComplete>
                            </div>
                            <div [ngClass]="showSearchCard ? 'md:col-span-3' : 'md:col-span-5'">
                                <label for="nroDocumento" class="block mb-1 text-sm">Nro. de Documento</label>
                                <input id="nroDocumento" class="w-full" type="text" pInputText name="nroDocumento"
                                    formControlName="nroDocumento" (input)="onInputChangeNumeroDocumento()"
                                    [attr.minlength]="nroCaracter" [attr.maxlength]="nroCaracter" autocomplete="off">
                            </div>
                            <div class="md:col-span-4" *ngIf="showSearchCard">
                                <label for="nroTarjeta" class="block mb-1 text-sm">Nro. Tarjeta</label>
                                <input id="nroTarjeta" class="w-full" type="text" pInputText name="nroTarjeta"
                                    formControlName="nroTarjeta" (input)="onInputChangeNumeroTarjeta()"
                                    [attr.minlength]="16" [attr.maxlength]="16" autocomplete="off"
                                    oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');">
                            </div>
                            <div class="md:col-span-2 flex items-end justify-end gap-2">
                                <button pButton label="" icon="pi pi-search" (click)="searchCuenta()"
                                    [disabled]="formBusqueda.invalid" pTooltip="Buscar cuentas"
                                    tooltipPosition="top"></button>
                                <button pButton label="" icon="pi pi-times" class="p-button-outlined"
                                    (click)="clearFilterCuenta()" pTooltip="Limpiar filtros"
                                    tooltipPosition="top"></button>
                            </div>
                        </div>
                    </form>
                </p-accordion-content>

            </p-accordion-panel>
        </p-accordion>
    </div>

    <div class="md:col-span-1">
        <div class="text-lg font-semibold mb-2">Cuentas</div>
        <p-table #dt class="mi-tabla-personalizada" resizableColumns="true" rowExpandMode="single"
            class="mi-tabla-personalizada"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" [paginator]="true"
            [showCurrentPageReport]="true" [filterDelay]="0" dataKey="idCuenta" [columns]="cols" [rows]="rows"
            [value]="datosCuentas" [totalRecords]="datosCuentas.length" [loading]="loadingCuentas">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" scope="col">
                        {{ col.header }}
                    </th>
                </tr>
            </ng-template>            
            <ng-template pTemplate="body" let-rowData>
                <tr id="tableWithIconCuenta" [pContextMenuRow]="rowData" (click)="selectCuenta(rowData)"
                    (keydown.enter)="selectCuenta(rowData)" (keydown)="selectCuenta(rowData)" style="cursor: pointer;">
                    <td>{{rowData.producto}}</td>
                    <td>{{rowData.nombresApellidos}}</td>
                    <td>{{rowData.numeroCuenta}}</td>
                    <td>
                        <span [ngClass]="
                            rowData.codEstadoCuenta == '01' ? 'p-tag p-tag-success' : 
                            rowData.codEstadoCuenta == '02' ? 'p-tag p-tag-warning': 'p-tag p-tag-danger'"
                            style="font-size: 12px;">{{rowData.motivoBloqueo}}
                        </span>
                    </td>
                    <td>{{rowData.fechaApertura | date:'dd/MM/yyyy'}}</td>
                    <td>{{rowData.fechaBaja | date:'dd/MM/yyyy'}}</td>
                    <td>{{rowData.desCodTipoDoc}}</td>
                    <td>{{rowData.numDocIdentidad}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8" style="text-align:left">Sin registros encontrados</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div class="md:col-span-1">
        <div class="text-lg font-semibold mb-2">Autorizaciones</div>
        <form *ngIf="uidCuenta" [formGroup]="formBusquedaAutorizaciones" novalidate class="mb-4">
            <div class="grid grid-flow-row-dense sm:grid-cols-1 md:grid-cols-12 gap-4">
                <div class="md:col-span-3">
                    <label for="numeroCuenta" class="block mb-1 text-sm">Cuenta</label>
                    <input id="numeroCuenta" class="w-full" type="text" autocomplete="off" pInputText
                        name="numeroCuenta" [(ngModel)]="numeroCuenta" [ngModelOptions]="{standalone: true}" readonly>
                </div>
                <div class="md:col-span-3">
                    <label for="fechaRangoAutorizaciones" class="block mb-1 text-sm">Fecha rango</label>
                    <p-datepicker  style="width: 100%;" inputStyleClass="w-full" id="fechaRangoAutorizaciones" formControlName="fechaRangoAutorizaciones"
                        (ngModelChange)="changeModelFechaRangoAutorizaciones($event)" dateFormat="dd/mm/yy"
                        yearRange="1940:2030" selectionMode="range" [readonlyInput]="true" appendTo="body"
                        class="w-full"></p-datepicker>
                </div>
                <div class="md:col-span-2">
                    <label for="codigoOperacion" class="block mb-1 text-sm">Cod. de operacion</label>
                    <input id="codigoOperacion" class="w-full" type="text" autocomplete="off" pInputText
                        name="codigoOperacion" formControlName="codigoOperacion">
                </div>
                <div class="md:col-span-2">
                    <label for="codigoGrupo" class="block mb-1 text-sm">Cod. de grupo</label>
                    <input id="codigoGrupo" class="w-full" type="text" autocomplete="off" pInputText name="codigoGrupo"
                        formControlName="codigoGrupo">
                </div>
                <div class="md:col-span-2">
                    <label for="codigoEntrada" class="block mb-1 text-sm">Cod. de entrada</label>
                    <input id="codigoEntrada" class="w-full" type="text" autocomplete="off" pInputText
                        name="codigoEntrada" formControlName="codigoEntrada">
                </div>
                <div class="md:col-span-12 flex items-end justify-end gap-2">
                    <button pButton label="Buscar" icon="pi pi-search" (click)="searchCuentaAutorizaciones()"
                        pTooltip="Buscar" tooltipPosition="top"></button>
                    <button pButton label="Limpiar" icon="pi pi-times" class="p-button-outlined"
                        (click)="clearFilterCuentaAutorizaciones()" pTooltip="Limpiar filtros"
                        tooltipPosition="top"></button>
                    <span
                        *appDisableContentByRole="[roles.ATENCION_CLIENTE_N4,roles.ATENCION_CLIENTE_N3,roles.ATENCION_CLIENTE_N2,roles.ATENCION_CLIENTE_N1]">
                        <button pButton label="Excel" icon="pi pi-file-excel" class="p-button-outlined p-button-success"
                            [disabled]="datosAutorizaciones.length==0" (click)="exportExcel()"
                            pTooltip="Descargar excel" tooltipPosition="bottom"></button>
                    </span>
                </div>
            </div>
        </form>

        <p-table #dt2 class="mi-tabla-personalizada" resizableColumns="true" columnResizeMode="expand"
            class="mi-tabla-personalizada"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" [paginator]="true"
            [showCurrentPageReport]="false" [filterDelay]="0" dataKey="idTransaccion" [first]="first" [rows]="rows"
            [value]="datosAutorizaciones" [totalRecords]="datosAutorizaciones.length" [loading]="loadingAutorizaciones"
            [reorderableColumns]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Id Transaccion</th>
                    <th scope="col">Fecha Transaccion</th>
                    <th scope="col">Fecha Proceso</th>
                    <th scope="col">Cod. Descripcion</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Referencia</th>
                    <th scope="col">Codigo Autorizacion</th>
                    <th scope="col">Importe</th>
                    <th scope="col">Red (descripcion)</th>
                    <th scope="col">Estado Confirmacion</th>
                    <th scope="col">Estado Autorizacion</th>
                    <th scope="col">Reversado</th>
                    <th scope="col">Cod. Rechazo</th>
                    <th scope="col">Num. Tarjeta</th>
                    <th scope="col">Token</th>
                    <th scope="col">Id Transaccion Original</th>
                    <th scope="col">Razon Estado</th>
                </tr>
                <tr id="tableWithIconAutorizaciones">
                    <th scope="col" style="text-align: center; width: 39px;">
                        <p-button icon="pi pi-refresh" pTooltip="Refrescar" showDelay="1000" hideDelay="300"
                            (click)="searchCuentaAutorizaciones()" (keydown.enter)="searchCuentaAutorizaciones()"
                            (keydown)="searchCuentaAutorizaciones()" [disabled]="!uidCuenta" rounded raised />
                    </th>
                    <th scope="col">
                        <input class="w-full" pInputText type="text"
                            (input)="dt2.filter($event.target.value, 'idTransaccion', 'startsWith')" placeholder="">
                    </th>
                    <th scope="col">
                        <input class="w-full" pInputText type="text"
                            (input)="dt2.filter($event.target.value, 'fechaTransaccion', 'startsWith')" placeholder="">
                    </th>
                    <th scope="col">
                        <input class="w-full" pInputText type="text"
                            (input)="dt2.filter($event.target.value, 'fechaConfirmacion', 'startsWith')" placeholder="">
                    </th>
                    <th scope="col">
                        <input class="w-full" pInputText type="text"
                            (input)="dt2.filter($event.target.value, 'transaccionResponse.ftcCode', 'startsWith')"
                            placeholder="">
                    </th>
                    <th scope="col">
                        <input class="w-full" pInputText type="text"
                            (input)="dt2.filter($event.target.value, 'transaccionResponse.ftcDescription', 'startsWith')"
                            placeholder="">
                    </th>
                    <th scope="col">
                        <input class="w-full" pInputText type="text"
                            (input)="dt2.filter($event.target.value, 'referencia', 'startsWith')" placeholder="">
                    </th>
                    <th scope="col">
                        <input class="w-full" pInputText type="text"
                            (input)="dt2.filter($event.target.value, 'codigoAutorizacion', 'startsWith')"
                            placeholder="">
                    </th>
                    <th scope="col">
                        <input class="w-full" pInputText type="text"
                            (input)="dt2.filter($event.target.value, 'transaccionProcesada.monto', 'startsWith')"
                            placeholder="">
                    </th>
                    <th scope="col">
                        <input class="w-full" pInputText type="text"
                            (input)="dt2.filter($event.target.value, 'descOrigenInt', 'startsWith')" placeholder="">
                    </th>
                    <th scope="col">
                        <input class="w-full" pInputText type="text"
                            (input)="dt2.filter($event.target.value, 'estadoConfirmacion', 'startsWith')"
                            placeholder="">
                    </th>
                    <th scope="col">
                        <input class="w-full" pInputText type="text"
                            (input)="dt2.filter($event.target.value, 'estadoAutorizacion', 'startsWith')"
                            placeholder="">
                    </th>
                    <th scope="col">
                        <input class="w-full" pInputText type="text"
                            (input)="dt2.filter($event.target.value, 'estadoReversado', 'startsWith')" placeholder="">
                    </th>
                    <th scope="col">
                        <input class="w-full" pInputText type="text"
                            (input)="dt2.filter($event.target.value, 'codigoRechazo', 'startsWith')" placeholder="">
                    </th>
                    <th scope="col">
                        <input class="w-full" pInputText type="text"
                            (input)="dt2.filter($event.target.value, 'tarjeta.enmascarado', 'startsWith')"
                            placeholder="">
                    </th>
                    <th scope="col">
                        <input class="w-full" pInputText type="text"
                            (input)="dt2.filter($event.target.value, 'tarjeta.token', 'startsWith')" placeholder="">
                    </th>
                    <th scope="col">
                        <input class="w-full" pInputText type="text"
                            (input)="dt2.filter($event.target.value, 'transaccionResponse.financialTransaction.parentTransactionId', 'startsWith')"
                            placeholder="">
                    </th>
                    <th scope="col">
                        <input class="w-full" pInputText type="text"
                            (input)="dt2.filter($event.target.value, 'motivoTransaccion', 'startsWith')" placeholder="">
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr id="tableWithDetails">
                    <td style="text-align: center;">
                        <div class="flex justify-between gap-2">
                            <p-button styleClass="p-button-text p-button-rounded p-button-sm" icon="pi pi-external-link"
                                (click)="openDialogDetalleAutorizacion(rowData)"
                                (keydown.enter)="openDialogDetalleAutorizacion(rowData)"
                                (keydown)="openDialogDetalleAutorizacion(rowData)" pTooltip="Detalle Autorizacion"
                                tooltipPosition="top"></p-button>
                            <span
                                *appDisableContentByRole="[roles.PLAFT, roles.ATENCION_CLIENTE, roles.OPERACION_CONTABLE, roles.FRAUDE, roles.CONSULTA]">
                                <p-button styleClass="p-button-text p-button-rounded p-button-sm" icon="pi pi-unlock"
                                    *ngIf="!rowData.reversado &&
                                        rowData.estadoConfirmacion == 'PENDING' &&
                                        (
                                            (
                                                rowData.descOrigen == '02' && 
                                                (
                                                    rowData.codigoOperacion == '00' || 
                                                    rowData.codigoOperacion == '21' || 
                                                    rowData.codigoOperacion == '01' ||
                                                    rowData.codigoOperacion == '02' ||
                                                    rowData.codigoOperacion == '11'
                                                )
                                            ) ||
                                            (
                                                rowData.descOrigen == '03' && 
                                                (
                                                    rowData.codigoOperacion == '01' || 
                                                    rowData.codigoOperacion == '20' || 
                                                    rowData.codigoOperacion == '00'
                                                )
                                            )
                                        )
                                    " (click)="openDialogLiberarManualAutorizacion(rowData)"
                                    (keydown.enter)="openDialogLiberarManualAutorizacion(rowData)"
                                    (keydown)="openDialogLiberarManualAutorizacion(rowData)"
                                    pTooltip="Liberar Autorizacion" tooltipPosition="top"></p-button>
                            </span>
                        </div>
                    </td>
                    <td>{{rowData.idTransaccion}}</td>
                    <td>{{rowData.fechaTransaccion}}</td>
                    <td>{{rowData.fechaConfirmacion}}</td>
                    <td>{{rowData.transaccionResponse.ftcCode}}</td>
                    <td>{{rowData.transaccionResponse.ftcDescription}}</td>
                    <td>{{rowData.referencia}}</td>
                    <td>{{rowData.codigoAutorizacion}}</td>
                    <td>{{rowData.transaccionProcesada.monto | currency:"&nbsp;":"symbol":'1.2-2'}}</td>
                    <td>{{rowData.descOrigenInt}}</td>
                    <td>
                        <div *ngIf="rowData.estadoAutorizacion=='REJECTED'; else estadoConfirmacion">
                            <span></span>
                        </div>
                        <ng-template #estadoConfirmacion>
                            <div [ngSwitch]="rowData.estadoConfirmacion">
                                <span *ngSwitchCase="'CONFIRMED'" class="p-tag p-tag-success"
                                    style="font-size: 12px;">{{rowData.estadoConfirmacion}}</span>
                                <span *ngSwitchCase="'PENDING'" class="p-tag p-tag-warning"
                                    style="font-size: 12px;">{{rowData.estadoConfirmacion}}</span>
                                <span *ngSwitchDefault class="p-tag p-tag-danger"
                                    style="font-size: 12px;">{{rowData.estadoConfirmacion}}</span>
                            </div>
                        </ng-template>
                    </td>
                    <td>
                        <div [ngSwitch]="rowData.estadoAutorizacion">
                            <span *ngSwitchCase="'AUTHORIZED'" class="p-tag p-tag-success"
                                style="font-size: 12px;">{{rowData.estadoAutorizacion}}</span>
                            <span *ngSwitchCase="'REJECTED'" class="p-tag p-tag-danger"
                                style="font-size: 12px;">{{rowData.estadoAutorizacion}}</span>
                            <span *ngSwitchCase="'REVERSED'" class="p-tag p-tag-danger"
                                style="font-size: 12px;">{{rowData.estadoAutorizacion}}</span>
                            <span *ngSwitchDefault class="p-tag p-tag-danger"
                                style="font-size: 12px;">{{rowData.estadoAutorizacion}}</span>
                        </div>
                    </td>
                    <td>{{rowData.estadoReversado}}</td>
                    <td>{{rowData.codigoRechazo}}</td>
                    <td>
                        <span
                            *appDisableContentByRole="[roles.ATENCION_CLIENTE, roles.ATENCION_CLIENTE_TD, roles.CONSULTA, roles.PLAFT, roles.TI]">
                            <p-button *ngIf="rowData.tarjeta.token"
                                styleClass="p-button-text p-button-plain p-button-sm"
                                [icon]="rowData.tarjeta.numTarjetaVisible ? 'pi pi-eye-slash' : 'pi pi-eye'"
                                pTooltip="Mostrar/Ocultar tarjeta" tooltipPosition="top"
                                (click)="visibilidadTarjeta(rowData)" (keydown.enter)="visibilidadTarjeta(rowData)"
                                (keydown)="visibilidadTarjeta(rowData)"></p-button>
                        </span>
                        <span *ngIf="!rowData.tarjeta.numTarjetaVisible">{{rowData.tarjeta.enmascarado}}</span>
                        <span *ngIf="rowData.tarjeta.numTarjetaVisible">{{rowData.tarjeta.desenmascarado}}</span>
                    </td>
                    <td>{{rowData.tarjeta.token}}</td>
                    <td>{{rowData.transaccionResponse.financialTransaction.parentTransactionId}}</td>
                    <td>{{rowData.motivoTransaccion}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="18" style="text-align:left">Sin registros encontrados</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>